Subject: Tankbeleg {{ aircraft }} -   {{ date }}

Tankbeleg

Datum: {{ date }}
Flugzeug: {{ aircraft }}
Menge: {{ amount }} Liter - {{ article }}

Danke, dass Sie bei uns getankt haben :-)

Fliegerische Gruesse,
MLV Thannhausen