<xml width="576"> 
        <text align="center">MLV Thannhausen</text> 
        <text align="center">Tankstelle</text> 
    <hr/> 
    <table> 
        <tr> 
            <td align="left" width="10">{{ date }}</td>
            <td align="right" width="28" font="B">Refueling</td> 
        </tr> 
    </table>
    <hr/> 
    <table>  
        <tr>
            <td align="right" width="20">Aircraft:</td>
            <td align="right" width="2"></td>
            <td align="left" width="20">{{ aircraft }}</td>
        </tr>
        <tr>
            <td align="right" width="20">Amount:</td>
            <td align="right" width="2"></td>
            <td align="left" width="20">{{ amount }} l</td>
        </tr>
        <tr>
            <td align="right" width="20">Article:</td>
            <td align="right" width="2"></td>
            <td align="left" width="20">{{ article }}</td>
        </tr>
    </table>
    <hr/> 
    <text align="center">Always happy landings !</text> 
    <!-- cut the page -->
    <cut/>
</xml>