VF_ENABLE=0
VF_URL="www.vereinsflieger.de"
VF_USER="<vf_user>"
VF_PWD="<vf password in MD5>"
VF_APPKEY="<vf app key>"

TG_APIKEY="<telegram api key>"
TG_USERID="<telegram user id>"

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

DB_USER="<database user>"
DB_PWD="<database password>"
DB_SERVER="<database server>"
DB_DATABASE="<database name>"

TERMINAL_KEY="<terminal key of GA Terminal>"

BOOKING_THRESHOLD=0.0

PRINTER_NAME_1="prnt1"
PRINTER_NAME_2="prnt2"

SMTP_SERVER="<SMTP Server>"
SMTP_PORT="465"
SMTP_SENDER="<SMTP sender address>"
SMTP_USER="<SMTP username for login>"
SMTP_PASSWORD="<SMTP password for login>"